* {
    margin: 0px;
    padding: 0px;
}
.bottom{
		margin-top: 900px;
}
.header{
	background-color: rgba(34,127,187,0.8);
}
.move{
		left: 300px;
}
.outer {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    position: absolute;
    top: 20px;
}

#gallery {
    width: 1920px;
    height: 779px;
    margin-top: 60px;
    z-index: 1;
}

.gallery-1 {
    width: 1920px;
    height: 593px;
    margin-left: 20%;
}

.gallery-11 {
    width: 285px;
    height: 593px;
    float: left;
    margin-right: 15px;
}

.gallery-11:hover {
    cursor: pointer;
}

.gallery-13 {
    width: 285px;
    height: 217px;
    margin-bottom: 10px;
    transition: all 1s;
}

.gallery-12 {
    width: 285px;
    height: 375px;
    margin-bottom: 10px;
    transition: all 1s;
}

.gallery-12:hover,
.gallery-13:hover,
.zoom:hover {
    transform: scale(0.9);
}

#gallery h2 {
    width: 1920px;
    margin-left: 40%;
    font-size: 40px;
    color: #e91e63;
    margin-bottom: 40px;
    margin-top: 20px;
    font-weight: 500;
}

.pop-up {
    position: relative;
}

#zdc {
    width: 1920px;
    height: 1280px;
    background-color: rgba(90, 90, 90, 0.8);
    z-index: 2;
    top: -1000px;
    display: none;
    overflow: hidden;
}

#small-dialog, #small-dialog2, #small-dialog3, #small-dialog4, #small-dialog5, #small-dialog6, #small-dialog7, #small-dialog8 {
    width: 1000px;
    height: 645px;
    background-color: #E91E63;
    color: white;
    display: none;
    left: 470px;
    top: -2020px;
    z-index: 9999;
}

.p-left {
    width: 460px;
    float: left;
    margin-right: 30px;
}

.zoom {
    width: 400px;
    height: 540px;
    margin-left: 50px;
    margin-top: 50px;
    transition: all 1s;
}

.p-right h4 {
    padding-top: 50px;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 40px;
}

.p-right p {
    font-size: 15px;
    line-height: 25px;
}

.agileits {
    margin-top: 20px;
}

.p-right .span1 {
    float: left;
    width: 435px;
    height: 30px;
    padding-top: 20px;
    margin-top: 25px;
    padding-bottom: 20px;
    border: 2px solid #EEEEEE;
    border-left: 0px;
    border-right: 0px;
}

.p-right .span1 .left {
    float: left;
}

.p-right .span2 .left {
    float: left;
}

.p-right .span3 .left {
    float: left;
}

.p-right .span1 .right {
    margin-left: 150px;
}

.p-right .span2 .right {
    margin-left: 150px;
}

.p-right .span3 .right {
    margin-left: 150px;
}

.p-right .span2 {
    float: left;
    width: 435px;
    height: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.p-right .span3 {
    float: left;
    width: 435px;
    height: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid #EEEEEE;
    border-left: 0px;
    border-right: 0px;
}

.button {
    width: 100px;
    height: 50px;
    float: right;
    background-color: red;
    border: 0px;
    font-size: 25px;
    color: white;
    font-weight: 900;
}
.button:hover{
    cursor: pointer;
}
.button:focus{
    outline:0;
}
#demo {
    OVERFLOW: hidden;
    width: 1920px;
    height: 350px;
    background-color: #F4F4F4;
    position: relative;
    top: 870px;
}
#demo1{
    width: 1100px;
    margin:auto;
}
.blog {
    width: 1100px;
    height: 350px;
    margin: 20px auto;
    color: #8A8A8A;
    cursor: pointer;
}

.blog-image img {
    width: 350px;
    height: 350px;
    float: left;
    transition: all 2s;
}

.blog-image img:hover {
    transform: scale(1.1);
}

.blog-text h4 {
    font-family: 'Josefin Sans', serif;
    font-size: 35px;
    color: black;
}

.blog-text {
    width: 730px;
    float: right;
}

.blog-text p {
    margin-top: 30px;
    line-height: 25px;
    word-wrap: break-word;
    word-break: normal;
    margin-bottom: 70px;
}

.blog-text a {
    text-decoration: none;
}

.info {
    margin-top: 30px;
    width: 730px;
    height: 40px;
    border: 1px solid #DDDDDD;
}

.info ul li {
    float: left;
    margin-left: 30px;
    line-height: 40px;
}

.info ul {
    list-style: none;
}

.blog-read {
    padding: 10px 20px 10px 20px;
    border: 2px solid blue;
}

.blog-read:hover {
    background-color: #e91e63;
    color: #EEEEEE;
    border: 2px solid #8A8A8A;
}
